@import './reset.scss';
a {
    color: inherit;
}

p {
    font-size: 26px;
}

html,
body {
    min-height: 100%;
    background: #f5f5f5;
}

.am-navbar {
    position: fixed;
    width: 100%;
    height: .9rem;
    left: 0;
    top: 0;
    z-index: 19901017;
}

.nav-space {
    width: 100%;
    height: .9rem;
}

.bottom-space {
    height: .9rem;
    visibility: hidden;
}

// 定义动画样式
.fade-appear {
    opacity: 0.01;
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity .2s ease-in;
}


/* .transition-wrapper {
//     height: 100%;
//     overflow: hidden;
// }
// .example-enter {
//     transform: translate3d(100%, 0, 0);
//     transition: transform 0.3s;
//     z-index: 1;
// }
// .example-enter.example-enter-active {
//     transform: translate3d(0, 0, 0);
// }
// .example-leave {
//     transform: translate3d(0, 0, 0);
//     transition: transform 0.3s;
// }
// .example-leave.example-leave-active {
//     transform: translate3d(-100%, 0, 0);
 }*/